<h2 fxLayout="row" fxLayoutAlign="center">Cart</h2>
<ng-container *ngIf="cartItems$ | async as cartItems">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="material-icons">shopping_cart</i> Cart
            </ng-template>
            <div class="cart-container" fxLayout="row wrap" fxLayoutAlign="space-between">
                <mat-card
                    *ngFor="let item of cartProducts$ | async; let index = index"
                    class="cart-item"
                    fxLayout="row"
                    fxLayoutAlign="space-between"
                    fxFlex="49%"
                    fxFlex.lt-md="100%"
                >
                    <span class="product-name">{{ item.name }}</span>
                    <span> {{ item.price | currency }}</span>
                    <span>x {{ cartItems[index].quantity }}</span>
                    <button mat-raised-button (click)="deleteProductFromCart(index, item)">
                        Delete
                    </button>
                </mat-card>
            </div>
            <div *ngIf="orderPrice$ | async as orderPrice" fxLayout="row" fxLayoutAlign="center">
                <h3>Order price: {{ orderPrice | currency }}</h3>
            </div>
            <div class="cart-container" fxLayout="row" fxLayoutAlign="center">
                <button
                    *ngIf="cartItems.length; else emptyCart"
                    mat-raised-button
                    class="cart-button"
                    (click)="clearCart()"
                >
                    <i class="material-icons">clear_all</i>
                    Clear cart
                </button>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="material-icons">attach_money</i> Checkout
            </ng-template>
            <div class="order-container" *ngIf="cartItems.length; else emptyCart">
                <app-order-form></app-order-form>
            </div>
        </mat-tab>
        <ng-template #emptyCart>
            <div class="empty-cart-container">
                <h2 fxLayout="row" fxLayoutAlign="center">Your cart is empty</h2>
                <div fxLayout="row" fxLayoutAlign="center">
                    <a [routerLink]="['/']" mat-raised-button class="cart-button">
                        <i class="material-icons">keyboard_backspace</i>
                        Back to products
                    </a>
                </div>
            </div>
        </ng-template>
    </mat-tab-group>
</ng-container>
