<div
    fxLayout="row wrap"
    fxLayoutAlign="center"
    class="product-detail-container"
    *ngIf="product"
>
    <h2>Product # {{ product.id }}</h2>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="product.name" placeholder="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Price ($)</mat-label>
        <input matInput [(ngModel)]="product.price" placeholder="price" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Quantity in stock</mat-label>
        <input matInput [ngModel]="product.inStock" (ngModelChange)="checkStockValue($event)" placeholder="inStock" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="product.description" placeholder="description" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Full Description</mat-label>
        <textarea
            matInput
            matTextareaAutosize
            [(ngModel)]="product.fullDescription"
            placeholder="fullDescription"
        ></textarea>
    </mat-form-field>
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div class="product-detail-button">
            <button mat-raised-button color="accent" (click)="saveProduct()">
                <i class="material-icons">save</i>
                Save product
            </button>
        </div>
        <div class="product-detail-button">
            <button
                *ngIf="product.inStock; else outOfStock"
                (click)="addToCart(product)"
                mat-raised-button
            >
                <i class="material-icons">add_shopping_cart</i>
                Add to cart
            </button>
        </div>
        <ng-template #outOfStock>
            <ng-container *ngIf="subscribeItems$ | async as subscribedProduct">
                <button
                    [disabled]="disableSubscribeButton(subscribedProduct, product.id)"
                    (click)="subscribeToProduct(product)"
                    mat-raised-button
                >
                    <i class="material-icons">mail_outline</i>
                    Subscribe
                </button>
            </ng-container>
        </ng-template>

        <div class="product-detail-button">
            <button mat-raised-button (click)="gotoProducts()">
                <i class="material-icons">keyboard_backspace</i>
                Back to product list
            </button>
        </div>
    </div>
</div>
