<div
    fxLayout="row wrap"
    fxLayoutAlign="center"
    class="product-detail-container"
    *ngIf="product$ | async as product"
>
    <h2>Product # {{ product.id }}</h2>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="product.name" placeholder="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Price ($)</mat-label>
        <input matInput [(ngModel)]="product.price" placeholder="price" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Quantity in stock</mat-label>
        <input matInput [(ngModel)]="product.inStock" placeholder="inStock" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="product.description" placeholder="description" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Full Description</mat-label>
        <textarea
            matInput
            matTextareaAutosize
            [(ngModel)]="product.fullDescription"
            placeholder="fullDescription"
        ></textarea>
    </mat-form-field>
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div class="product-detail-button">
            <button mat-raised-button color="accent" (click)="saveProduct(product)">
                Save product
            </button>
        </div>
        <div class="product-detail-button">
            <button mat-raised-button (click)="gotoProducts()">Back to product list</button>
        </div>
    </div>
</div>
