<div *ngIf="order$ | async as order">
    <h2 fxLayout="row" fxLayoutAlign="center">Order # {{ order.id }}</h2>
    <div>
        Name: <strong>{{ order.userName }}</strong>
    </div>
    <div>
        Phone: <strong>{{ order.userPhone }}</strong>
    </div>
    <div *ngIf="order.userAddress">
        Address: <strong>{{ order.userAddress }}</strong>
    </div>
    <br />
    <div *ngIf="products">
        Products:
        <div *ngFor="let orderProd of order.orderProducts" class="orderProduct">
            Product name: <strong>{{ getOrderProductName(orderProd.productId) }}</strong
            ><br />
            Product quantity: <strong>{{ orderProd.quantity }}</strong>
        </div>
    </div>
    <div *ngIf="shippings">
        Shipping:
        <strong>{{ getOrderShippingCost(order.shipping, 'name') }}</strong>
    </div>
    <div *ngIf="shippings">
        Total price:
        <strong>{{ getOrderShippingCost(order.shipping) + order.orderPrice | currency }}</strong>
    </div>
    <p>
        <button (click)="gotoOrders(order)">Back</button>
    </p>
</div>
