<div
    fxLayout="row wrap"
    fxLayoutAlign="center"
    class="order-container"
    *ngIf="order$ | async as order"
>
    <h2>Order # {{ order.id }}</h2>

    <div class="order-item">
        Name: <strong> {{ order.userName }}</strong>
    </div>
    <div class="order-item">
        Phone: <strong> {{ order.userPhone }}</strong>
    </div>
    <div class="order-item" *ngIf="order.userAddress">
        Address: <strong> {{ order.userAddress }}</strong>
    </div>
    <div class="order-item" *ngIf="products">
        Ordered products:
        <div *ngFor="let orderProd of order.orderProducts" class="orderProduct">
            <mat-expansion-panel
                class="product-info"
                (opened)="productDetailPanelOpen = true"
                (closed)="productDetailPanelOpen = false"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>{{ getOrderProduct(orderProd.productId).name }}</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Ordered product quantity: <strong>{{ orderProd.quantity }}</strong>
                </p>
                <p>{{ getOrderProduct(orderProd.productId).fullDescription }}</p>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="order-item" *ngIf="shippings">
        Shipping:
        <strong>{{ getOrderShippingCost(order.shipping, 'name') }}</strong>
        <br />
        Total price:
        <strong>{{ getOrderShippingCost(order.shipping) + order.orderPrice | currency }}</strong>
    </div>
    <div class="order-item">
        <button mat-raised-button color="accent" (click)="gotoOrders()">Back to orders</button>
    </div>
</div>
