<h2 fxLayout="row" fxLayoutAlign="center">Orders</h2>
<div *ngIf="orders" class="grid">
    <mat-card *ngFor="let order of orders" class="gridItem" fxFlex.lt-md="100%">
        <h3 fxLayout="row" fxLayoutAlign="center">Order # {{ order.id }}</h3>
        <div>
            Name: <strong>{{ order.userName }}</strong>
        </div>
        <div>
            Phone: <strong>{{ order.userPhone }}</strong>
        </div>
        <div *ngIf="order.userAddress">
            Address: <strong>{{ order.userAddress }}</strong>
        </div>
        <br />
        <button
            *ngIf="order.canceled"
            class="deleteButton"
            mat-raised-button
            [disabled]="order.canceled"
        >
            Order is canceled
        </button>
        <button
            *ngIf="!order.canceled"
            class="deleteButton"
            mat-raised-button
            [routerLink]="['/orders', order.id]"
        >
            Details
        </button>
    </mat-card>
</div>
