:host {
    padding: 10px;
}
h2 {
    color: #1976d2;
    margin: 0;
    padding: 10px;
    font-weight: lighter;
    font-size: 28px;
}
h3 {
    margin: 0;
    padding: 15px;
    font-size: 18px;
}
.cart-item {
    background-color: #1976d2;
    margin-top: 15px;
    color: #ffffff;
    font-size: 16px;
}
.cart-container {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}
.cart-button {
    margin: 20px;
}
.empty-cart-container {
    margin-top: 15px;
}
.product-name {
    width: 50%;
}
.order-container {
    margin: 0 auto;
    max-width: 450px;
    width: 90%;
}
