<h2 fxLayout="row" fxLayoutAlign="center">Cart</h2>
<ng-container *ngIf="cartItems$ | async as cartItems">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="material-icons">shopping_cart</i> Cart
            </ng-template>
            <div class="cart-container" fxLayout="row wrap" fxLayoutAlign="space-between">
                <mat-card
                    *ngFor="let item of cartProducts$ | async; let index = index"
                    class="cart-item"
                    fxLayout="row"
                    fxLayoutAlign="space-between"
                    fxFlex="49%"
                    fxFlex.lt-md="100%"
                >
                    <span>{{ item.name }}</span>
                    <span> {{ item.price | currency }}</span>
                    <span>quantity: {{ cartItems[index].quantity }}</span>
                    <button mat-raised-button (click)="deleteProductFromCart(index, item)">
                        Delete
                    </button>
                </mat-card>
            </div>
            <div class="cart-container" fxLayout="row" fxLayoutAlign="center">
                <button
                    *ngIf="cartItems.length; else emptyCart"
                    mat-raised-button
                    class="cart-button"
                    (click)="clearCart()"
                >
                    <i class="material-icons">clear_all</i>
                    Clear cart
                </button>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="material-icons">attach_money</i> Checkout
            </ng-template>
            <div
                class="order-container"
                fxLayout="row wrap"
                fxLayoutAlign="center"
                *ngIf="cartItems.length; else emptyCart"
            >
                <mat-form-field appearance="outline">
                    <mat-label>Enter your name</mat-label>
                    <input matInput placeholder="Placeholder" />
                    <mat-hint>Enter your name</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your phone</mat-label>
                    <input matInput placeholder="Placeholder" />
                    <mat-hint>Enter your phone</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Choose a shipping rate</mat-label>
                    <mat-select>
                        <ng-container *ngFor="let shipping of shippingCosts | async">
                            <mat-option value="{{ shipping.type }}">
                                {{ shipping.type }} - {{ shipping.price | currency }}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your address</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <button mat-raised-button color="warn" class="cart-button">
                    <i class="material-icons">shopping_cart</i>
                    Purchase
                </button>
            </div>
        </mat-tab>
        <ng-template #emptyCart>
            <div class="empty-cart-container">
                <h2 fxLayout="row" fxLayoutAlign="center">Your cart is empty</h2>
                <div fxLayout="row" fxLayoutAlign="center">
                    <a [routerLink]="['/']" mat-raised-button class="cart-button">
                        <i class="material-icons">keyboard_backspace</i>
                        Back to products
                    </a>
                </div>
            </div>
        </ng-template>
    </mat-tab-group>
</ng-container>
