<mat-toolbar class="app-top-bar">
    <div fxFlex="45%" fxLayout="row" fxLayoutAlign="space-between">
        <h1>Products Store</h1>
        <a [routerLink]="['/']" mat-raised-button>Products</a>
        <a [routerLink]="['orders']" mat-raised-button>Orders</a>
        <a [routerLink]="['subscriptions']" mat-raised-button>Subscriptions</a>
    </div>
    <div fxFlex="65%" fxLayout="row" fxLayoutAlign="end">
        <a [routerLink]="['/cart']" mat-raised-button
            ><i class="material-icons">shopping_cart</i>Cart</a
        >
    </div>
</mat-toolbar>
